{% extends "base.html" %}
{% block content%}

<header>
	<div class="logo">
		Todo App
	</div>
</header>
<div class="main_section">
	<form class="signup-form">
		<h1>Sign Up</h1>
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="email" placeholder="Email">
		<input type="text" name="first-name" placeholder="First Name">
		<input type="text" name="last-name" placeholder="Last Name">
		<input type="password" name="password" placeholder="Password">
		<div>
			<input type="submit" name="login" value="Sign up">
		</div>
		
	</form>
</div>

<footer class="footer">
    <p>&copy; 2020 KANAHA, Inc.</p>
</footer>

{% endblock %}