{% load static %}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

.container {
 	background-image: linear-gradient(120deg,#342E5A,#3D2F55,#1E1A3B);
  	min-height: 100vh;
}

header{
	/*position: fixed;*/
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.7s;
	padding: 37px 100px;
}

header .logo{
	position: relative;
	font-weight: 700;
	color: #D3C2FF;
	text-decoration: none;
	font-size: 1.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.7s;
	font-family: 'roboto', sans-serif;
	border-bottom: 2px solid #D3C2FF;
}

header .logo:hover{
	cursor: pointer;
}

.main_section{
	/*background: black;*/
	min-height: 100vh;
}

form {
	background: rgba(255,255,255,0.12);
	width: 28%;
	/*margin: */
	/*height: 20vh;*/
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	padding: 40px 50px;
	border-radius: 10px;
}

.signup-form{
	top: 60vh;
}

form h1{
	color: #EBE4FF;
	margin: 0;
	padding: 0 0 20px;
	text-align: left;
	font-size: 2em;
}


form input[type="text"], input[type="password"]{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	text-align: center;
	height: 50px;
	background-color:  rgba(255,255,255,0.43); 
	border-radius: 5px;
	color: #40297D;
	font-size: 0.9em;
}

form input[type="text"]:focus, input[type="password"]:focus{
	/*background-color: white;*/
	border: 3px solid #5836A5;
	outline: none;
}

form input[type="text"]::placeholder, input[type="password"]::placeholder{
	color: #5D5080;
	opacity: 0.8;
}

form div{
	/*display: block;*/
	display: flex;
	width: 100%;
	margin-top: 40px;
}

.signup-form div{
	justify-content: center;
}

form div input[type="submit"],a {
	margin: 5px;
	padding: 12px 0px;
	/*width: 110px;*/
	/*height: 45px;*/
	border-radius: 30px;
	background:none;
	width: 50%;
}




form div input[type="submit"]{
	background-color: #5836A5;
	border: 2px solid #9E84DB;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #BEB2D9;
	/*padding: 1em 1.5em;*/
	/*border-color: #9E84DB;*/

}

form div input[type="submit"]:hover{
	cursor: pointer;
}

form div input[type="submit"]:focus{
	background-color: white;
}

.login-form div a{
	color: #5836A5;
	background-color: #9E84DB;
	border: 2px solid #5836A5;
	font-size: 1em;
	font-weight: bold;
	/*padding: 1em 1.5em;*/
	text-decoration: none;
	justify-content: center;
	display: flex;
	/*align-items: center;*/
	/*direction: center;*/
}


.todo_main_section{
	height: 100vh;
	display: flex;
	/*background-color: black;*/
}
.side-bar-menu{
	display: flex;
	flex-direction: column;
	background-color: #11223E;
	width: 18%;
}

.fa-list-ul{
	color: white;
}



.side-bar-menu .todo_logo{
	margin: 0;
	background-color: #1F3251;
	/*width: 18%;*/
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    /*height: 50px;*/
    color: #DFDFDF;
}
.todo_logo span{
	margin: 5vh;
}
.main_side{
	width: 82%;
	background-color: #8B9AB4;
}

ul {
	display: flex;
	flex-direction: column;
	/*padding-left: 30px;*/
	padding-top: 40px;
	list-style-type: none;
}

ul li{
	margin: 20px 40px;
	padding: 10px 0;
	display: flex;
	color: #DFDFDF;
	background-color: red;
	border-radius: 15px;
}

ul li img {
	margin-right: 10px;	
}

.list-icon{
  	width: 23px;
	background: url("../images/list_icon.png") no-repeat center;
	background-size: contain;
}

.list-text{
	margin-left: 10px;
	font-size: 1.2em;
}


.active .list-icon{
	background: url("../images/list_icon_black.png") no-repeat !important;
}


@media screen and (max-width: 980px) {
 form{
  	width: 300px;
  }
  header{
  	display: flex;
  	justify-content: center;
  }
}
