* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

body {
 	background-image: linear-gradient(120deg,#342E5A,#3D2F55,#1E1A3B);
  	min-height: 100vh;
}

header{
	/*position: fixed;*/
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.7s;
	padding: 37px 100px;
}

header .logo{
	position: relative;
	font-weight: 700;
	color: #D3C2FF;
	text-decoration: none;
	font-size: 1.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.7s;
	font-family: 'roboto', sans-serif;
	border-bottom: 2px solid #D3C2FF;
}

header .logo:hover{
	cursor: pointer;
}

.main_section{
	/*background: black;*/
	min-height: 80vh;
}

form {
	background: rgba(255,255,255,0.12);
	width: 28%;
	/*margin: */
	/*height: 400px;*/
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	padding: 40px 50px;
	border-radius: 10px;
}

form h1{
	color: #EBE4FF;
	margin: 0;
	padding: 0 0 20px;
	text-align: left;
	font-size: 2em;
}


form input[type="text"], input[type="password"]{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	text-align: center;
	height: 50px;
	background-color:  rgba(255,255,255,0.43); 
	border-radius: 5px;
	color: #40297D;
	font-size: 0.9em;
}

form input[type="text"]:focus, input[type="password"]:focus{
	/*background-color: white;*/
	border: 3px solid #5836A5;
	outline: none;
}

form input[type="text"]::placeholder, input[type="password"]::placeholder{
	color: #5D5080;
	opacity: 0.8;
}

form div{
	/*display: block;*/
	display: flex;
	width: 100%;
	margin-top: 40px;
}

form div input[type="submit"],a {
	margin: 5px;
	padding: 12px 0px;
	/*width: 110px;*/
	/*height: 45px;*/
	border-radius: 30px;
	background:none;
	width: 50%;


}


form div input[type="submit"]{
	background-color: #5836A5;
	border: 2px solid #9E84DB;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #BEB2D9;
	/*padding: 1em 1.5em;*/
	/*border-color: #9E84DB;*/

}

form div input[type="submit"]:hover{
	cursor: pointer;
}

form div input[type="submit"]:focus{
	background-color: white;
}

form div a{
	color: #5836A5;
	background-color: #9E84DB;
	border: 2px solid #5836A5;
	font-size: 1em;
	font-weight: bold;
	/*padding: 1em 1.5em;*/
	text-decoration: none;
	justify-content: center;
	display: flex;
	/*align-items: center;*/
	/*direction: center;*/
}


@media screen and (max-width: 980px) {
  form{
  	width: 300px;
  }
  header{
  	display: flex;
  	justify-content: center;
  }
}
